{% extends 'taskflow/base.html' %}
{% block title %}View File - SafeNet{% endblock %}

<div class="container">
    <h1>File Content</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                {% for key in data.0.keys %}
                <th>{{ key }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                {% for value in row.values %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'modify_file' file.id %}" class="btn btn-warning">Edit File</a>
    <a href="{% url 'delete_file' file.id %}" class="btn btn-danger">Delete File</a>
</div>
